doctype 5
html
    head
        title Moka
        link(href="app/components/bootstrap/dist/css/bootstrap.css",
             rel="stylesheet", media="screen")
        link(href="app/components/bootstrap/assets/css/docs.css",
             rel="stylesheet", media="screen")
    
    body(style="padding-top:50px")
        .navbar.navbar-inverse.navbar-fixed-top
            .container
                .navbar-header
                    a.navbar-brand(href="#") Moka
                .collapse.navbar-collapse
                    ul.nav.navbar-nav
                        li 
                            a Ciao
                        li 
                            a A 
                        li 
                            a Tutti
        // side navbar
        .container
            .row
                .col-md-3
                    .bs-sidebar
                        ul.nav.bs-sidenav
                            li
                                a(href="#assistente") Assistente di Viaggio 
                            li
                                a(href="#localizzaione") Localizzazione
                            li 
                                a(href="#potenzialita-social") Potenzialità Social
                            li
                                a(href="#screenshot") Screenshot
                            li
                                a(href="#video") Video
                            li
                                a(href="#download") Download



                // contenuto principale
                .col-md-6
                    
                    h2 Moka (Beta)
                    p.
                        Moka è un travel assistant per gli spostamenti con
                        il trasporto pubblico di Milano. 
                    p.
                    
                        Moka consente di:
                    :markdown
                        * calcolare un insieme di percorsi per spostarsi tra due
                        punti della città
                        * calcolare il tempo di percorrenza, tenendo conto
                        anche delle coincidenze (del fatto che prendo/non
                        prendo una coincidenza)
                        Durante il viaggio moka aggiorna:
                            * tempo di arrivo stimato
                            * informazioni da atm (tweet di atm)
                            * informazioni da altri utenti (tramite tweet)
                            * propria posizione (quante fermate mancano)
                    h2 Assistente di viaggio
                    p.
                    :markdown
                        ciao
                        I trip planner (tipo Google Transit) offrono, come
                        servizio, il calcolo di percorsi tra due punti di un
                        territorio. Il calcolo può anche essere basato su dati
                        //-in tempo reale, ma tipicamente l'interazione con
                        //-l'applicazione finisce con il calcolo iniziale. L'idea
                        //-di Moka è quella di provare a sviluppare un travel
                        //-assistant: un'applicazione che continua a fornire
                        //-informazione utile durante tutto il viaggio. Che tipo di
                        //-informazione?
                        //-[Esempi di informazione]

                    h2 Localizzazione

                    p.
                        Spiegare bene i vantaggi della localizzazione

                    h2 Potenzialità social
                    p.
                        the name says it all

                    h2 Screenshot
                    h2 Video
                    h2 Applicazione

                        
