doctype 5
html
    head
        meta(charset="utf-8")
        title MOKA - Travel Assistant
        link(href="app/components/bootstrap/dist/css/bootstrap.min.css",
             rel="stylesheet", media="screen")
        link(href="app/components/bootstrap/assets/css/docs.css",
             rel="stylesheet", media="screen")
    
    body(style="padding-top:50px")
        .navbar.navbar-inverse.navbar-fixed-top
            .container
                .navbar-header
                    a.navbar-brand(href="#") Moka
                .collapse.navbar-collapse
                    ul.nav.navbar-nav

        // side navbar
        .container
            .row
                .col-md-3
                    .bs-sidebar.affix-top
                        ul.nav.bs-sidenav
                            li
                                a(href="#assistente") Assistente di Viaggio 
                            li
                                a(href="#localizzaione") Localizzazione
                            //-li 
                                //-a(href="#potenzialita-social") Potenzialità Social
                            li
                                a(href="#screenshot") Screenshot
                            //-li
                                //-a(href="#video") Video
                            li
                                a(href="#download") Download



                // contenuto principale
                .col-md-6
                    
                    h2 MOKA_Beta
                    p.
                        MOKA è un Travel Assistant sperimentale per gli spostamenti con
                        il trasporto pubblico di Milano.
                    p.
                    
                        In particolare, MOKA consente di:
                    :markdown
                        * calcolare un insieme di percorsi per spostarsi tra due
                        punti della città
                        * calcolare il tempo di percorrenza, tenendo conto
                        anche delle coincidenze (ovvero del fatto che ciascuna di essere può essere presa o mancata)
                        Durante il viaggio, MOKA mantiene l'utente costantemente aggiornato su:
                            * tempo di arrivo stimato
                            * informazioni da ATM (per esempio, i tweet di ATM)
                            * informazioni da altri utenti (ad esempio, tramite tweet)
                            * posizione attuale dell'utente (per calcolare, ad esempio, quante fermate mancano alla destinazione)
                    h3(id="assistente") Assistente di viaggio
                    p.
                    :markdown
                        I comuni trip planner (tipo Google Transit) offrono, come
                        servizio, il calcolo di percorsi tra due punti di un
                        territorio. Il calcolo può anche essere basato su dati
                        in tempo reale, ma tipicamente l'interazione con
                        l'applicazione termina una volta che il percorso è stato calcolato.
                        L'idea alla base di MOKA è invece quella di provare a sviluppare un Travel
                        Assistant, ovvero un'applicazione che continua a fornire
                        informazioni utili durante tutto il viaggio.

                    h3(id="localizzazione") Localizzazione
                    :markdown
                        MOKA, per fornire le informazioni necessarie ad
                        assistere l'utente durante tutto il suo viaggio, cerca di capire su quale
                        mezzo si trova l'utente, incrociando i dati sulla
                        posizione geografica con quelli sulla posizione dei
                        mezzi. Questo è molto diverso dal conoscere
                        semplicemente la posizione geografica dell'utente.



                    //-h2 Potenzialità social
                    //-p.
                        //-Sfruttando il vantaggio dato dalla conoscenza del mezzo (lo specifico veicolo, non la linea) sul quale si trova l'utente, MOKA è in grado di abilitare numerose attività social. Ad esempio, è possibile sapere se sullo stesso mezzo su cui si trova l'utente sono presenti dei suoi amici di FaceBook, oppure qualcuno col quale l'utente ha recentemente giocato a Ruzzle!
                        //-Queste informazioni possono essere sfruttate anche per consigliare all'utente itinerari alternativi che gli consentano, nonostante non siano magari ottimizzati dal punto di vista del numero di cambi o della lunghezza del viaggio, di incontrare uno o più amici e di percorrere con loro parte del suo viaggio.

                    h2(id="screenshot") Screenshot
                    a.img(href="imgs/Screenshot_1.png", width="20%")
                        img(src="imgs/Screenshot_1.png",width="20%")  
                    a.img(href="imgs/Screenshot_2.png", width="20%")
                        img(src="imgs/Screenshot_2.png",width="20%")  
                    a.img(href="imgs/Screenshot_3.png", width="20%")
                        img(src="imgs/Screenshot_3.png",width="20%")  
                    a.img(href="imgs/Screenshot_4.png", width="20%")
                        img(src="imgs/Screenshot_4.png",width="20%")  
                    h2 Video
                    p.
                        <iframe src="//player.vimeo.com/video/73584461" width="500" height="281"
                        frameborder="0" webkitallowfullscreen mozallowfullscreen
                        allowfullscreen></iframe> 

                    h2 Dati
                    :markdown
                        Moka utilizza il dataset del trasporto pubblico locale
                        pubblicato su [http://dati.comune.milano.it/]. Ad
                        oggi i dati presenti sul sito coprono il servizio fino
                        al 1/9/2013. Non appena verrano pubblicati dati più
                        aggiornati, questi verranno importati in Moka.
                        
                    h2 Download 
                    a(href="apk/moka.apk") moka.apk
                    span &nbsp; (per Android >=4)

                    div(style="height:100px")

                        
