doctype 5
html
    head
        title Moka
        link(href="app/components/bootstrap/dist/css/bootstrap.css",
             rel="stylesheet", media="screen")
        link(href="app/components/bootstrap/assets/css/docs.css",
             rel="stylesheet", media="screen")
    
    body(style="padding-top:50px")
        .navbar.navbar-inverse.navbar-fixed-top
            .container
                .navbar-header
                    a.navbar-brand(href="#") Moka
                .collapse.navbar-collapse
                    ul.nav.navbar-nav
                        li 
                            a Ciao
                        li 
                            a A 
                        li 
                            a Tutti
        .container
            .row
                .col-md-3
                    .bs-sidebar
                        ul.nav.bs-sidenav
                            li
                                a 1
                            li
                                a 2

                .col-md-9
                    
                    h2 Moka
                    p.
                        Moka è un travel assistant per gli spostamenti con
                        il trasporto pubblico di Milano. 
                    p.
                        
                        Moka consente di:
                            * calcolare un insieme di percorsi per spostarsi tra due
                        punti della città
                            * calcolare il tempo di percorrenza, tenendo conto
                            anche delle coincidenze (del fatto che prendo/non
                            prendo una coincidenza)
                            * durante il viaggio:
                                * tempo di arrivo stimato
                                * informazioni da atm (tweet di atm)
                                * informazioni da altri utenti (tramite tweet)
                                * propria posizione (quante fermate mancano)
                            * condividere il proprio viaggio
                    h2 
                        Assistente di viaggio
                    p.
                        differenza tra trip planner (google transit, etc) e
                        travel assistant

                    h2
                        Localizzazione

                    p.
                        Spiegare bene i vantaggi della localizzazione

                    h2 
                        Potenzialità social
                    p.
                        the name says it all


                        
